In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as  pd
import yfinance as yf
import statsmodels.api as sm
import statsmodels.tsa.stattools as sts
from statsmodels.tsa.seasonal import seasonal_decompose
import statsmodels.graphics.tsaplots as sgt
from scipy.stats import chi2
from statsmodels.tsa.arima_model import ARMA
from statsmodels.tsa.arima.model import ARIMA

In [2]:
df = pd.read_csv("Index2018.csv")
df.date = pd.to_datetime(df.date, dayfirst=True)
df.set_index('date', inplace=True)
df = df.asfreq('b')  # setting the Desired Frequency
df= df.fillna(method='ffill')  # fill missing values with forward fill
df['market_value'] = df.ftse
# Delete columns dax, ftse, nikkei and rename spx to market_value
df.drop(['dax', 'ftse', 'nikkei', 'spx'], axis=1, inplace=True)

size = int(len(df) * 0.8)
df, df_test = df[:size], df[size:]

df['returns'] = df.market_value.pct_change(1)*100
# Remove NaN values from the DataFrame
df.dropna(inplace=True)
df

C:\Users\Niranjan\AppData\Local\Temp\ipykernel_14060\503749443.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df= df.fillna(method='ffill')  # fill missing values with forward fill

            market_value   returns
date
1994-01-10       3440.58 -0.156704
1994-01-11       3413.77 -0.779229
1994-01-12       3372.02 -1.222988
1994-01-13       3360.01 -0.356166
1994-01-14       3400.56  1.206842
...                  ...       ...
2013-04-01       6411.74  0.000000
2013-04-02       6490.66  1.230867
2013-04-03       6420.28 -1.084327
2013-04-04       6344.11 -1.186397
2013-04-05       6249.77 -1.487049

[5020 rows x 2 columns]